.main {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .main {
    align-items: unset;
  }
}

.form-container {
  width: 20%;
  min-width: 300px;
  max-width: 512px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  background-color: rgb(235, 235, 235);
  padding: 20px;
}

.payload-container {
  width: 20%;
  min-width: 300px;
  max-width: 512px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  background-color: rgb(235, 235, 235);
  padding: 20px;
}

.payload-container p {
  width: 100%;
}

body {
  margin: 0;
  background: rgb(114, 76, 175);
  background: radial-gradient(
    circle,
    rgba(114, 76, 175, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

.logo {
  margin-bottom: 26px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

h1,
h3 {
  margin: 10px 0;
  text-align: center;
  font-family: "Roboto";
}

p {
  margin: 10px 0;
  text-align: left;
  font-family: "Roboto";
  font-size: medium;
}

p.payload-title {
  margin: 10px 0;
  text-align: center;
  font-family: "Roboto";
  font-weight: bold;
  font-size: medium;
}

p.payload-body {
  margin: 10px 0;
  text-align: center;
  font-family: "Roboto";
  font-size: medium;
}

.error {
  color: red;
  padding: 10px 0px;
  font-family: "Roboto";
  font-size: medium;
}

input[type="text"] {
  width: 100%;
  padding: 10px 10px;
  display: inline-block;
  border: 2px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: medium;
}

input[type="email"] {
  width: 100%;
  padding: 10px 10px;
  display: inline-block;
  border: 2px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: medium;
}

textarea {
  width: 100%;
  height: 180px;
  padding: 10px 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: medium;
  resize: vertical;
  resize: none;
  font-family: "Roboto";
}

button[type="submit"] {
  width: 100%;
  background-color: #724caf;
  color: white;
  padding: 10px 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Roboto";
  font-size: large;
}

button[type="submit"]:hover {
  background-color: #9f4caf;
}
